*{
    box-sizing: border-box;
    font-family: $font1;
    position: relative;
}

body,h1,h2,h3,h4,h5,h6,p,ul,li,a,div,img,button,input{
    margin: 0;
    padding: 0;
    min-width: 1px;
    min-height: 1px;
    font-style: none;
    text-decoration: none;
    
    list-style-type: none;
    color: $black2;
}
img{
   width: 100%;
   height: 100%;
   object-fit: cover; 
   display: block;
}