$color1: #5B8DEF;
$color2: #0063F7;
$color3: #004FC4;
$color4: #39D98A;
$color5: #FDDD48;
$color6: #AC5DD9;
$color7: #FDAC42;
$color8: #00B7C4;

$black1: #8F90A6;
$black2: #555770;
$black3: #28293D;

$white1: #FAFAFC;
$white2: #F2F2F5;
$white3: #EBEBF0;

$l-device: 1200px;
$m-device: 1000px;
$s-device: 800px;

$font1: 'Ubuntu Mono', monospace;
$font2: 'Rokkitt', serif;