<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt&family=Ubuntu+Mono:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{#ROUTE_WEBSITE#}/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body class="noPaddingTop">
    <div class="project">
        <div class="left">
            <ul>
                <li class="img"><img src="{#ROUTE_WEBSITE#}/img/project/configurator_1.png" alt=""></li>
                <li class="img"><img src="{#ROUTE_WEBSITE#}/img/project/configurator_2.png" alt=""></li>
                <li class="img"><img src="{#ROUTE_WEBSITE#}/img/project/configurator_3.png" alt=""></li>
                <li class="img"><img src="{#ROUTE_WEBSITE#}/img/project/configurator_4.png" alt=""></li>
            </ul>
        </div>
        <div class="right">
            <div class="top">

                <h1>Configurator</h1>
                <h2>Tecnologias</h2>
                <p>Javascript</p>
                <p class="descricao">Projeto criado com a Ilustraviz e Tidelli, o cliente pode selecionar as cores do produto e a imagem de produto é alterada para a cor selecionada, além de gerar uma página de impressão do produto selecionado.</p>
                       
                        <button><a href="https://www.tidelli.com/pt-br/collections/amado/products/amado-lounge-chair" target="_blank">Clique e conheça</a></button>
                    
            </div>
            <div class="bottom">
                <p><a href="/">Voltar</a></p>
            </div>
        </div>
    </div>
</body>

</html>