<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rokkitt&family=Ubuntu+Mono:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{#ROUTE_WEBSITE#}/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Pagina não encontrada | Gustavo Carvalho</title>
</head>
<body class="noPaddingTop">
    <div class="erro404">
        <div class="center">
            <p>Ooops, parece que esta página não existe</p>
        </div>
        <div class="button">
            <a href="/">Voltar para a Home</a>
        </div>
    </div>
</body>
</html>